@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    color: #fffcf2;
    background-color: #252422;
    font-family: 'Jost', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#subjekts-body{
    flex-direction: column;
}
/* ****** Main ****** */
.main-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* ****** Subjekts ****** */
.subjekts{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    animation: sublist 4s 1;
    
}
.subjekt-list{
    animation: opacity 4s 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sub-list{
    display: flex;
    flex-direction: row;
	align-items: flex-start;
    justify-content: flex-start;
    
}
.sub-list h3{
    padding: 10px 40px;
    font-size: 2.5vw;
    height: 7vh;
    width: 20vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #CCC5B9;
}
.sub-list h3:hover{
    background-color: #eb5e28;
    padding-bottom: 10px;
    transition: 0.5s;
}
.sub-list h3:active{
    border-bottom: solid 3px #eb5e28;
    padding-bottom: 10px;
}

.subjekts-content{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    animation: mysub 4s 1;
    ;;
}
.subjekts-content .subjekts-h1{
     font-size: 4vw;
    font-family: 'Lato', sans-serif;
    color: #fffcf2;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    text-align: center;

}
.subjekts-content .subjekts-h1 #space{
    
    margin-bottom: 10vw;
}
.subjekts-content a{
    /*background-color: #403d39;*/
    height:40px;
    padding: 8px 20px;
    text-align: center;
    color: #eb5e28;
    text-decoration: none;
    animation: link 3s 1;
}
.subjekts-content a{
    text-decoration: none;
}
/* ****** h1 *******/
.main-content .main-h1,.class-h1{
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    color: #fffcf2;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    text-align: center;
    animation: text 4s 1;
    
}
.main-content .not-h1{
    font-size: 2.4vw;
    font-family: 'Lato', sans-serif;
    color: #fffcf2;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    text-align: center;
    animation: text 4s 1;
    
}
/* ****** a ****** */
.main-content a{
    /*background-color: #403d39;*/
    height:40px;
    padding: 8px 20px;
    text-align: center;
    color: #eb5e28;
    text-decoration: none;
    animation: link 3s 1;
}
.main-content a{
    text-decoration: none;
}
.subjekt-main-content{
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    height: 73vh;
}
.subjekt-main-content .subjekt-main-h2{
    margin-top: 1.5vh;
    font-size: 3vw;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    animation: sub 5s 1;
}
.subjekt-main-content .subjekt-main-h3{
    margin-top: 1.5vh;
    font-size: 2.5vw;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    animation: link 5s 1;
}
.subjekt-main-content .makro-photo{
    margin-top: 1.5vh;
    font-size: 2.5vw;
    text-transform: uppercase;
    height: 40vh;
    animation: link 5s 1;
}

@keyframes sub{
    0%{
        opacity: 0;
        letter-spacing: -2vw;
    }
    
    70%{
        letter-spacing: 2.2vw;
        
    }
    85%{opacity: 1;}
    99%{
        letter-spacing: 0.8vw;
    
    }
}

@keyframes text{
        0%{
            opacity: 0;
            letter-spacing: -2vw;
        }
        
        40%{
            letter-spacing: 2.2vw;
            
        }
        60%{opacity: 1;}
        90%{
            letter-spacing: 0.8vw;
        
        }
}
@keyframes link{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes mysub{
    0%{
        height: 100vh;
    }
    100%{
        height: 20vh;
    }
}
@keyframes sublist{
    0%{
        height: 0vh;
    }
    100%{
        height: 80vh;
        background-image: url("../");
    }
}
