@charset "utf-8";
/* CSS Document */
@font-face { font-family: 'Tesla';
	src: url('../fonts/TESLA.ttf') format('truetype');
}
/*
font-family: filson-pro,sans-serif;
font-weight: 300;
font-style: normal;
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	font-family: filson-pro,sans-serif;
	font-weight: 300;
	font-style: normal;
	background-image: url("../media/Tesla-back.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: Tesla;
	font-size: 2.5vw;
}


/* ***** Title ***** */
.title{
	height: 50vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title img{
	width: 50%;
	margin-left: 3vw;
}
.navigation  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-transform: uppercase;
	width: 20vw;
	margin-left: 3vw;
	box-sizing: border-box;
  }
  
	  .navigation a {
			display: block;
			padding: 0.7em;
			color: white;
			opacity: 0.5;
			font-weight: 600;
			font-size: 0.7vw;
		  	transition: opacity .55s ease-in-out;
			-moz-transition: opacity .55s ease-in-out;
   			-webkit-transition: opacity .55s ease-in-out;
		  	text-decoration: none;
		  	letter-spacing: .45rem;
		  	font-family: TESLA;	
  }	
  
	  .navigation a:hover {
		 	opacity: 1;
	  }



/* ***** Pages ***** */
.main {
	height: 100vh;
	width: 70vw;
	margin: 0px 0px 0px 15px;
	display: flex;
	flex-direction: row;
}
.polygon1{
	clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
	background:rgba(0,0,0,1.00);
	opacity: 0.8;
	height: 100vh;
	width: 6.25vw;
	margin: 0px;

}
.polygon2{
	clip-path: polygon(100% 0, 100% 0, 0 0, 0% 100%);
	background:rgba(0,0,0,1.00);
	opacity: 0.8;
	height: 100vh;
	width: 6.25vw;
}
.content{
	width: 87.5vw;
	height: 100vh;
	background:rgba(0,0,0,0.80);
	/*opacity: 0.8;*/
	display: flex;
	flex-direction: column;
	padding: 15px
	}
.gallery{
	display: flex;
	flex-direction: row;
	width: 60vw;
	height: 100vh;
}


/* ***** Gallery ***** */
.tab {
  	float: left;
  	background-color:rgba(0,0,0,0.01);
  	width: 12vw;
  	height: 30vw;
	font-family: filson-pro,sans-serif;
	font-weight: 300;
	font-style: normal;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 20px 16px ;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
	font-size: 1.5vw;
  cursor: pointer;
	opacity: 0.3;
  transition: 0.3s;

}
/* Change background color of buttons on hover */
.tab button:hover {
  opacity: 1;
}
/* Create an active/current "tab button" class */
.tab button.active {
  opacity: 1;
}
/* Style the tab content */
.tabcontent {
  width: 30vw;
  height: 300px;
}
.tabcontent img{
	width: 45vw;
}
.tablinks{
	font-family: filson-pro,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 8vw;
}



/* ***** Video ***** */
.vid{
	margin: 15px;
}



/* ***** Audio ***** */
.audi-with-controls{
	background-color: rgba(0,0,0,1.00);
	color: white;
	width: 50vw;
	border-radius: 10vw;
}
.audio-text{
	margin: 1vw;
}
.audio-text p{
	font-size: 1.2vw;
}





/* ***** Index ***** */
.weblinks{
	height: 100vh;
	width: 70vw;
	display: flex;
	flex-direction: row;
	margin: 0px 0px 0px 15px;
}
.items{
	width: 25vw;
	height: 100vh;
	background:rgba(0,0,0,1.00);
	opacity: 0.1;
	clip-path: polygon(25% 0%, 100% 00%, 75% 100%, 0% 100%);
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
   	-webkit-transition: opacity .55s ease-in-out;
	text-decoration: none;
}
.items:hover{
	opacity: 0.8;

}
.items a{
	width: 100%;
	height: 100%;
	color: black;
	opacity: 1;
}
.theme{
	height: 100%;
	width: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.theme h1{
	color: white;
	text-decoration: none;
}